.accessories {
	overflow: hidden;
	color: #fff;
	position: relative;
	mix-blend-mode: multiply;
	background-image: url(../img/bg/main.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #2A4ABD;
	height: 700px;
	&__breakpoint {
		display: none;
		position: relative;
	}
	&::before {
		content: '';
		position: absolute;
		background-color: #2A4ABD;
		mix-blend-mode: multiply;
		width: 100%;
		height: 100%;
	}

	&__content {
		height: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		position: relative;
		z-index: 1000;
	}

	&__left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 40px;
	}

	&__title {
		font-family: $specFont;
		font-weight: 800;
		font-size: rem(30px);
		line-height: pxPercent(40px, 30px);
	}

	&__post-title {
		display: inline-block;
		margin-top: 60px;
		margin-left: 45%;
		font-size: rem(24px);
		line-height: (27px, 24px);
		width: 170px;
	}

	&__left-bottom {

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		
	
	}

	&__left-item {
		display: flex;
		flex-direction: column;
	}

	&__left-item1 {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	&__img-block {
		img {
			max-width: 100%;
		}
	}
	&__left-img {
		
			img {
				max-width: 100%;
			}
		
		margin-top: 10px;
	}

	&__left-item2 {
		justify-content: flex-end;
	}

	&__left-item3 {
		margin-left: 10px;
		.accessories__item-name {
			display: flex;
			justify-content: flex-end;
		}
		.accessories__left-img {
			img {max-width: 100%;}
		}
	}

	&__right {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	&__right-item {
		display: flex;
		flex-direction: column;
	}



	&__right-text {
		font-size: rem(21px);
		line-height: pxPercent(24px, 21px);
		width: 267px;
		margin-bottom: 50px;
	}

	&__right-item1 {
		padding-top: 40px;
		.accessories__item-name {
			margin-top: 10px;
		}
	}

	&__right-item2 {
		
		.accessories__item-name {
			margin-top: 28px;
		}
	}

	&__right-item3 {
		margin-left: auto;
		margin-right: 10px;
		justify-content: flex-end;
		align-items: flex-end;
		padding-bottom: 40px;
		.accessories__item-name {
			margin-bottom: 10px;
			margin-right: auto;
			width: 114px;
		}
		
	}

	&__right-item4 {
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		.accessories__item-name {
			margin-bottom: 10px;
		}
	
	}

	&__catalog-btn {
		margin-bottom: 40px;
		background-color: rgba(60, 113, 249, 0.5);

		a {
			white-space: nowrap;
			display: inline-block;
			padding: 20px 40px;
			color: #fff;
		}
	}


}

@media (max-width: 1024px) {
	
	.accessories {
		height: 600px;
		&__title {
			font-size: rem(21px);
		}

		&__right-text {
			font-size: rem(16px);
		}
}

}
@media (max-width: 768px) {
	body .accessories {
		height: auto;
		&__content {
			display: none;
		}
		&__breakpoint {
			display: block;
		}
	}
	body .container {
		padding: 0 25px;
	}

.breakpoint-accesories {
	padding-top: 20px;
	&__header {
		margin-bottom: 40px;
	}
	&__title {
		font-size: rem(24px);
		font-family: $specFont;
		font-weight: 800;
	}

	&__text {
		margin-top: 15px;
		width: 220px;
		font-size: rem(20px);
		line-height: pxPercent(24px, 20px);
	}

	&__item1 {
		margin-bottom: 15px;
	}

	&__item1-text {
		margin-bottom: 5px;
	}

	&__item1-img {
		img {
			max-width: 100%;
		}
	}
}
.table1-breakpoint {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	&__text {
		display: flex;
		align-items: center;
		font-size: rem(20px);
		line-height: pxPercent(24px, 20px);
		width: 100px;
	}

	&__item-text {
		margin-top: 5px;
		text-align: left;
		width: 100%;
	}


	&__item {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: max-content;
	}
}
.table2-breakpoint {
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	&__item1 {
		margin-bottom: 23px;
	}

	&__item1-img {
		img {
			max-width: 100%;
		}
	}

	&__item1-text {
		margin-top: 5px;
	}

	&__item2 {
		display: flex;
		align-items: center;
		align-self: flex-end;
	}

	&__item2-text {
		display: flex;
		margin-right: 10px;
		text-align: right;
	}

	&__item2-img {
		img {
			max-width: 100%;
		}
	}
}
.table3-breakpoint {
	margin-top: 25px;
	display: grid;
	grid-row-gap: 25px;
	grid-template-columns: repeat(2, 1fr);
	&__item1 {
		margin-right: 10px;
	}

	&__item1-img {
		img {
			max-width: 100%;
		}
	}

	&__item1-text {
		margin-top: 5px;
	}

	&__item2 {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
		img {
			max-width: 100%;
		}
	}
	&__item2-img {
		img {
			max-width: 100%;
		}
	}

	&__item2-text {
		text-align: right;
		width: 107px;
		margin-bottom: 10px;
	}

	&__item3 {
		width: max-content;
		
	}

	&__item3-img {
		img {
			max-width: 100%;
		}
	}

	&__item3-text {
		text-align: right;
		margin-bottom: 5px;
	}
	&__item4 {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}
	&__btn {
		display: inline-block;
		padding: 5% 8%;
		background-color:rgba(60, 113, 249, 0.5);
		color: #fff;
		margin-bottom: 25px;
	}
}

}


@media (max-width: 425px) {
.breakpoint-accesories {
	font-size: rem(12px);
		&__title {
			font-size: rem(18px);
		}

		&__text {
			font-size: rem(16px);
		}
}
.table1-breakpoint {

		&__text {
			font-size: rem(16px);
		}

		&__img {
			width: 100px;
			img {
				max-width: 100%;
			}
		}
}

.table3-breakpoint {
		&__btn {
			font-size: rem(14px);
			padding: 16px 16px
		}
}
}

