
							@font-face {
								font-family: ManifoldExtendedCF;
								font-display: swap;
								src: url("../fonts/ManifoldExtendedCF-Thin.woff2") format("woff2"), url("../fonts/ManifoldExtendedCF-Thin.woff") format("woff");
								font-weight: 100;
								font-style: normal;

							}

							
							@font-face {
								font-family: ManifoldExtendedCF;
								font-display: swap;
								src: url("../fonts/ManifoldExtendedCF-Bold.woff2") format("woff2"), url("../fonts/ManifoldExtendedCF-Bold.woff") format("woff");
								font-weight: 700;
								font-style: normal;

							}

							
							@font-face {
								font-family: ManifoldExtendedCF;
								font-display: swap;
								src: url("../fonts/ManifoldExtendedCF-ExtraBold.woff2") format("woff2"), url("../fonts/ManifoldExtendedCF-ExtraBold.woff") format("woff");
								font-weight: 800;
								font-style: normal;

							}

							
							@font-face {
								font-family: ManifoldExtendedCF;
								font-display: swap;
								src: url("../fonts/ManifoldExtendedCF-Heavy.woff2") format("woff2"), url("../fonts/ManifoldExtendedCF-Heavy.woff") format("woff");
								font-weight: 800;
								font-style: normal;

							}

							